{% load static %}
<!-- ingles.html -->
<!DOCTYPE html>
<html>

<head>
    <title>Inglés</title>
    <link rel="stylesheet" href="{% static '/materia.css' %}">
</head>

<body>
    <a href="{% url 'Cursos' %}"></a>
    <div class="contenedor">
        <h1>Inglés</h1>

        <section class="seccion">
            <h2>Fecha de Exámenes</h2>
            <p>Próximo examen: 20 de marzo de 2024</p>
        </section>

        <section class="seccion">
            <!-- Modificado: Agregado enlace a la sección de calificaciones -->
            <h2><a href="{% url 'calificaciones' %}">Calificaciones</a></h2>
            <!-- Fin de modificación -->
            <p>Calificación última evaluación: 88</p>
        </section>

        <section class="seccion">
        <h2><a href="{% url 'actividades' %}">Actividades</a></h2>
            <ul>
                <li>Redacción de ensayos</li>
                <li>Presentación oral en inglés</li>
                <li>Comprensión de lectura</li>
            </ul>
        </section>

        <section class="seccion">
            <h2>Cronograma</h2>
            <p>Próxima actividad: Discusión sobre literatura inglesa</p>
        </section>

        <section class="seccion">
            <h2>Calendario</h2>
            <p>Revisar el calendario para eventos importantes de Inglés.</p>
        </section>
    </div>
</body>

</html>